# this file is managed by Ansible
# all changes will be overwritten
[default]
region={{ aws_region }}
output={{ aws_output }}
{% for profile in aws_profiles %}

[profile {{ profile.name }}]
output = json
{% for k in ["region", "role_arn", "access_key", "secret_key", "source_profile"] %}
{% if profile[k] is defined %}
{{ k }} = {{ profile[k] }}
{% endif %}
{% endfor %}

{% endfor %}
